body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  background-color: #f2f2f2;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #1d4ed8;
  /* font-weight: bold; */
}

.quiz-area {
  margin: 2rem auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 100px;
  padding-left: 50px;
}

.select-group {
  max-width: 600px;
  margin: 10px auto;
  padding: 1rem;
  text-align: center;
  border: solid 1px #eeeeee;
  border-radius: 20px;
}

select {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  min-width: 120px;
}

.button_go {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.button_go:hover {
  background-color: #4a90e2;
  color: #fff;
  border-color: #4a90e2;
}

.options button {
  margin: 0.3rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: background-color 0.3s;
}

.options button.selected {
  background-color: #4a90e2;
  border: 0px;
  color: white;
}

.result-text {
  margin-left: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* ========== 答案送出+清除按鈕 ========== */

.icon-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 3px;
}

.icon-btn img {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.icon-btn:hover {
  background-color: #ddff9e;
  transform: scale(1.1);
  transition: transform 0.3s;
}

#clears:hover {
  background-color: #ff5a5a;
  animation: shakeani 0.4s linear infinite both;
}

@keyframes shakeani {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px);
  }

  40% {
    -webkit-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px);
  }

  60% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }

  80% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.btn-group {
  gap: 7px;
  padding: 4px;
  margin-top: 7px;
  display: flex;
}

/* ========== 警告訊息彈出 ========== */

#custom-alert {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.alert-box {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 250px;
}

#custom-alert.hide {
  display: none;
}

#alert-close {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ========== 完成作答訊息 ========== */

#complete-box {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.complete-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  line-height: 2rem;
}

#complete-box.hide {
  display: none;
}
