body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  background-color: #f2f2f2;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #333;
}

.quiz-area {
  margin-top: 2rem;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.course-select {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  border: solid 1px #eeeeee;
  border-radius: 20px;
}

select {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  min-width: 120px;
}

#go {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

#go:hover {
  background-color: #4a90e2;
  color: #fff;
  border-color: #4a90e2;
}

.options button {
  margin: 0.3rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: background-color 0.3s;
}

.options button.selected {
  background-color: #4a90e2;
  border: 0px;
  color: white;
}

.result-text {
  margin-left: 1rem;
  font-weight: bold;
}

.icon-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.icon-btn img {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.icon-btn:hover {
  background-color: #dbdbdb;
}

.btn-group {
  gap: 5px;
  display: flex;
  padding: 4px;
}
